* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg_rojo {
  background-color: rgba(255, 0, 0, 0.774);
}

.c-blanco {
  color: white;
}

.consulta-contenedor {
  width: 100%;
  height: 100px;
  display: flex;
  align-content: center;
}

.cons {
  display: flex;
  align-items: center;
}

.cons p {
  width: 100vw;
  text-align: center;
  color: white;
  background-color: red;
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 15px;
}

.titulo-formulario {
  width: 100%;
  text-align: center;
  background-color: red;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
}

.contenedor-form .formulario {
  background: rgba(180, 72, 72, 0.253);
  width: 90%;
  max-width: 650px;
  margin: auto;
  padding: 5px 35px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 3px rgba(201, 6, 6, 0.5333333333);
}

.contenedor-form .form-titulo {
  color: red;
  font-size: 30px;
  text-align: center;
}

.contenedor-form .form-titulo span {
  color: white;
  font-size: 20px;
}

.contenedor-form .formulario .form-tex,
.form-texselec {
  color: red;
  font-size: 14px;
  margin-bottom: 5px;
}

.contenedor-form .formulario .form-input,
.form-texarea {
  background: rgba(172, 39, 39, 0.4);
  border: none;
  outline: none;
  color: white;
  border-bottom: 4px solid rgb(241, 236, 236);
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  font-size: 12px;
}

.btn-comprar {
  width: 100%;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  background-color: red;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid white;
  transition: all 0.5s ease;
}

.btn-comprar:hover {
  border-radius: 15px;
  padding: 12px;
  background-color: white;
  color: red;
  border: 2px solid red;
}

.btn-marcas {
  color: red;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-ver {
  color: red;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.btn-marcas:hover {
  padding-left: 40px;
  padding-right: 40px;
  color: red;
}

.contenedor-form .formulario .form-btn {
  width: 100%;
  padding: 10px;
  font-size: 25px;
  color: white;
  margin-bottom: 15px;
  background-color: red;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  border: 3px solid white;
  transition: all 0.5s ease;
}

.contenedor-form .formulario .form-btn:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

.caja {
  width: 250px;
  margin: 15px;
  height: 340px;
  border: solid red 1px;
  border-radius: 15px;
  transition: all 0.5s ease;
  box-shadow: 0px 2px 10px rgba(250, 90, 90, 0.42);
}
.caja img {
  width: 220px;
  height: 200px;
  border-radius: 15px;
}
.caja h2,
.caja h3 {
  margin: 5px;
  text-align: center;
  font-size: 1.5rem;
}
.caja p {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.caja:hover {
  width: 270px;
  box-shadow: 5px 7px 20px rgba(252, 82, 82, 0.671);
  transform: translateY(-4%);
}

.marca {
  margin: 15px;
  border: solid red 1px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(250, 90, 90, 0.42);
  transition: all 0.5s ease;
  color: red;
}
.marca img {
  width: 300px;
  height: 200px;
  border-radius: 15px;
}
.marca p {
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.marca:hover {
  box-shadow: 5px 7px 20px rgba(252, 82, 82, 0.671);
  transform: translateY(-4%);
}

.hero {
  height: 100vh;
  background-image: url(../assets/fondobolyfiesta.jpg.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.hero__texto {
  color: white;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.438);
  padding: 20px;
  border-radius: 20px;
}
.hero__texto h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.hero__texto h2 {
  font-size: 3.5rem;
  font-weight: 1200;
  color: red;
}

.marcas-contenedor {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.heromarca {
  height: 100vh;
  background-image: url(../assets/fondobolyfiesta.jpg.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.heromarca__texto {
  color: white;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.76);
  padding: 20px;
  border-radius: 20px;
}
.heromarca__texto h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.heromarca__texto h2 {
  font-size: 3.5rem;
  font-weight: 1200;
  color: red;
}

.heronosotros {
  height: 100vh;
  background-image: url(../assets/fondobolyfiesta.jpg.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.heronosotros__texto {
  color: white;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.76);
  padding: 20px;
  border-radius: 20px;
}
.heronosotros__texto h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.heronosotros__texto h2 {
  font-size: 3.5rem;
  font-weight: 1200;
  color: red;
}

.contenedor-caja {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  text-align: center;
}

.heropro {
  height: 100vh;
  background-image: url(../assets/dulce4.jpg);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.heropro__texto {
  color: white;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.76);
  padding: 20px;
  border-radius: 20px;
}
.heropro__texto h1 {
  font-size: 3.5rem;
  font-weight: 800;
}
.heropro__texto h2 {
  font-size: 3.5rem;
  font-weight: 1200;
  color: red;
}

/*# sourceMappingURL=styles.css.map */
