.marcas-contenedor {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.marca img{
    width: 300px;
    height: 200px;
    border-radius: 15px;
}
.marca {
    margin: 15px;
    border: solid black 1px;
    border-radius: 15px;
}
.marca p {
    text-align: center;
    font-weight: bold;
    font-size: 15px;

}